@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Amatic SC', cursive;
    font-size: 1.4rem;
    box-sizing: inherit;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 4rem;
}

.quote {
    margin: 0 auto;
    width: 60%;
}

.quote__author {
    font-weight: bold;
}

.quote__subject {

}

.quote__text {
    margin-top: 5rem;
    font-size: 5rem;
}
