<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faberlic Ostrołęka API</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="wrapper">
        {{#each quotes}}
            <div class="quote">
                <div class="quote__author">{{ author }}</div>
                <div class="quote__subject">{{ subject }}</div>
                <div class="quote__text">{{ text }}</div>
            </div>
        {{/each}}
    </div>

</body>
</html>